<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        bootstrap                   = "vendor/autoload.php">

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="kejwmen\PhpUnitListeners\Memory\MemoryTestListener">
            <arguments>
                <array>
                    <element key="memoryUsageThreshold">
                        <integer>16</integer>
                    </element>
                </array>
                <array>
                    <element key="0">
                        <object class="kejwmen\PhpUnitListeners\Memory\TestsExceedingMemoryThresholdReport">
                            <arguments>
                                <integer>10</integer>
                                <string>Above threshold</string>
                            </arguments>
                        </object>
                    </element>
                    <element key="1">
                        <object class="kejwmen\PhpUnitListeners\Memory\TestsCloseToMemoryThresholdReport">
                            <arguments>
                                <integer>10</integer>
                                <string>Below threshold</string>
                            </arguments>
                        </object>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
